@page "~/{locale=en-us}/{tenant}/account/accessdenied"
@inject IViewLocalizer Localizer
@model AccessDeniedModel
@{
    ViewData["Title"] = Localizer["Accessdenied"];
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">@Localizer["NoAccessToResource"]</p>
</header>
