@page "~/{locale=en-us}/{tenant}/account/confirmemail"
@inject IViewLocalizer Localizer
@model ConfirmEmailModel
@{
    ViewData["Title"] = Localizer["ConfirmEmail"];
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        @Localizer["ConfirmEmailThankYou"]
    </p>
</div>
