@page "~/{locale=en-us}/{tenant}/account/forgotpasswordconfirmation"
@inject IViewLocalizer Localizer
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = Localizer["ForgotPasswordConfirmationTitle"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @Localizer["CheckEmail"]
</p>

