@page "~/{locale=en-us}/{tenant}/account/logout"
@inject IViewLocalizer Localizer
@model LogoutModel
@{
    ViewData["Title"] = Localizer["LogOut"];
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>@Localizer["PageDescription"]</p>
</header>