@page "~/{locale=en-us}/{tenant}/account/resetpasswordconfirmation"
@inject IViewLocalizer Localizer
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = Localizer["ResetPasswordConfirmation"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @Localizer["PasswordReset"] <a asp-page="./Login">@Localizer["LoginLinkText"]</a>.
</p>
